config conf 'common'
	option server_addr frp.2026178.xyz
	option server_port 5443
	option token TiZTjCmJ9ZwCCiMy
	option user 0000
	option login_fail_exit false
	option protocol websocket
	option tls_enable false
	option wire_protocol v2
	option client_id 0000
#	List options with name="_" will be directly appended to config file
#	list _ '# Key-A=Value-A'

config conf 'SSH'
	option type tcp
	option local_ip 192.168.99.1
	option local_port 22

config conf 'NIKKI'
	option type 'tcp'
	option local_ip '127.0.0.1'
	option local_port '9090'

config conf 'WEB'
	option type http
	option use_encryption true
	option use_compression true
	option local_ip 127.0.0.1
	option local_port 80
	option custom_domains 0000.2026178.xyz